*{
    padding: 0;
    margin: 0;
}
.bd{
    background: linear-gradient(rgb(23, 68, 94), rgb(198, 203, 226), rgb(31, 30, 30) );
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0, 0.4);
    
}
.logo{
    width: 140px;
    height: 80px;
    padding: 20px  100px;
}
.navbar h4{
    color: azure;
    padding-left: 20px;
    font-family: 'Brush Script MT', cursive ;
    bottom: 5px;
    user-select: none;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto',sans-serif;
    transition: .4s;
}
.navbar ul li a .active,
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}

.g{
    display: flex;
    justify-content: space-evenly;

}
img{
    flex-basis: 50%;
    max-width: 50%;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px; 
    margin-bottom: 20px;
    margin-top: 10px;
}
.bd h4{
    padding-left: 20px;
    color: azure;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

footer{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.d3{
    background: black;
    color: azure;
    display: flex;
    justify-content: space-evenly;
}
.d31 p{
    padding: 10px 0 0 30px;
    
}
.d31 textarea{    
    margin-left: 20px;
}

.btn2{
    padding: 20px;
}
.d32{
    color: azure;
    padding-left: 50px;
}
.d32 ul li{
    list-style: none;
    padding: 5px 0;
}
.d33{
    display: inline-block;
}
.d33 ul li{
    list-style: none;
    padding-left: 50px;
    display: inline-block;
    padding-top: 50px;
    user-select: none;
}